<head>
<link rel="stylesheet" href="/main.css">
<link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
</head>
<div><br></div>
<div id='logo'>tinyAPP</div>
<% if (userObject !== undefined) { %>
  <div>Welcome! - <%=userObject.email%></div>
  <form action='/logout' method='POST'>
  <input type='submit' value='Logout'>
  </form>
<% } else { %>
  <a href='/login'>Login</a>
  <a href='/register'>Register</a>
<% } %>