<h1>TINYAPP</h1>
<% if (userObject !== undefined) { %>
  <div>Welcome! - <%=userObject.email%></div>
  <form action='/logout' method='POST'>
  <input type='submit' value='Logout'>
  </form>
<% } else { %>
  <a href='/login'>Login</a>
  <a href='/register'>Register</a>
<% } %>