<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <form action='/login' method='POST'>
  <div>
    <label for='username'>Username:<label>
    <input id='username' type='text' name='username' style='width: 200px'>
  </div>
  <div>
    <label for='password'>Password:<label>
    <input id='password' type='text' name='password' style='width: 200px'>
  </div>
    <input type='submit' value='Login'>
  </form>
  <%- include('partials/_footer') %>
</body>
</html>