<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tiny App</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h2>Link Generated</h2>
    <ul>
      <li>Full Link</li>
        <ul>
          <li><%= urls[id] %></li>
        </ul>
      <li>Shortened URL</li>
        <ul>
          <li><%= id %></li>
        </ul>
    </ul>
  <%- include('partials/_footer') %>
</body>
</html>
