<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
    <table style='width: 50%'>
      <tr>
        <th>Just One</th>
        <th>Shortened URL</th>
      </tr>
      <tr>
        <td><%= urls[id] %></td>
        <td><%= id %><td>
      </tr>
    </table>
  <a href='/urls/new'>Shorten YOUR url here</a>
</body>
</html>
